
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
  </head>
<style>
  header{
  margin: 0;
  padding: 0;
  background-image: url('images/mel-poole-3IxYATx6Ylg-unsplash.jpg');
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    
}
.title-text{
    font-size: 50px;
    position: relative;
    justify-content: center;
    display: flex;
    top: 130px;
    color: brown;
}
.para{
  margin: 10px;
  padding: 10px;
  justify-content: center;
  position: relative;
  display: flex;
  top: 120px;
  color: black;
}
.btn{
  text-decoration: none;
  position: relative;
  left: 40%;
  color: white;
  background-color: blue; 
  border-radius: 20px;
  font-size: 20px;
  top: 120px;
  margin: 30px;
  padding: 10px;
  margin-top: 20px;
  
  
}
.btn:hover{
  text-transform: uppercase;
  transition: 3s; 
  cursor: pointer;
  background-color: white;
  color: blue;

}
.login{
  float: right;
  position: relative;
  bottom: 150px;
  font-size: 20px;
  color: blue;
  background-color: brown;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}
.login:hover{
  cursor: pointer;
  background-color: white;
  color: black;
  

}

</style>
<body>
    <header>
      <div class="img">
        <h2 class="title-text">create your resume now for free</h2>
        <form action="/login" method="GET">
          <button class="login" type="submit">Login</button>
        </form>
        <div>
       <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> Harum adipisci aperiam culpa autem qui in exercitationem eligendi nulla odio repellat<br> possimus unde, iusto fugit consequatur animi sunt alias fuga sapiente?</p>
       <form action="/mainView" method="GET">
         <button class="btn" type="submit">Create Resume Now</button>
       </form>
       
</div>
</div>
    </header>
</body>
</html>